*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background: #1a0a0f;
  color: #f5e6ec;
  overflow-x: hidden;
}
